SECRET_KEY=django-insecure-replace-with-a-strong-random-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL Database
DB_NAME=localservice_db
DB_USER=root
DB_PASSWORD=AswadrazA15-16
DB_HOST=localhost
DB_PORT=3306

# Claude AI
ANTHROPIC_API_KEY=sk-ant-your-key-here
